MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=lexiuridicus
ADMIN_TOKEN=replace-with-a-random-token-of-at-least-32-characters
NEXT_PUBLIC_SITE_URL=https://lexiuridicos.site
NEXT_PUBLIC_CONTACT_EMAIL=contacto@lexiuridicus.com
NEXT_PUBLIC_CONTACT_PHONE=+573012370047
NEXT_PUBLIC_CONTACT_PHONE_SECONDARY=+573008393987
